@inject ILocalizationService LocalizationService
@implements IDisposable

<footer class="appfooter">
	<ul class="appfooter__items">
		<li><NavLink href="/" Match="NavLinkMatch.All">@LocalizationService.GetString("Common.Home")</NavLink></li>
		<li><NavLink href="/media" Match="NavLinkMatch.All">@LocalizationService.GetString("Common.Media")</NavLink></li>
		<li><NavLink href="#" Match="NavLinkMatch.All">@LocalizationService.GetString("Common.API")</NavLink></li>
		<li><NavLink href="/about" Match="NavLinkMatch.All">@LocalizationService.GetString("Common.About")</NavLink></li>
		<li><NavLink href="/privacy" Match="NavLinkMatch.All">@LocalizationService.GetString("Common.Privacy")</NavLink></li>
		<li><NavLink href="/stats" Match="NavLinkMatch.All">@LocalizationService.GetString("Common.Statistics")</NavLink></li>
		<li><NavLink href="#" Match="NavLinkMatch.All">@LocalizationService.GetString("Common.ReportAbuse")</NavLink></li>
	</ul>

	<div class="appfooter__credits">
		<p>@LocalizationService.GetString("Footer.Copyright", DateTime.Today.Year)</p>
		<div class="appfooter__credits-right">
			<p>@LocalizationService.GetString("Footer.MadeBy")</p>
			<LanguageSelector />
		</div>
	</div>
</footer>

@code {
	protected override void OnInitialized()
	{
		LocalizationService.OnLanguageChanged += StateHasChanged;
	}

	public void Dispose()
	{
		LocalizationService.OnLanguageChanged -= StateHasChanged;
	}
}
