@page "/about"
@layout Web.Layout.InformationLayout
@inject ILocalizationService LocalizationService
@implements IDisposable

<PageTitle>@LocalizationService.GetString("About.PageTitle")</PageTitle>

<section class="info-section">
    <h1>@LocalizationService.GetString("About.Title")</h1>
    <p>
        @LocalizationService.GetString("About.Description")
    </p>
    <ul>
        <li>@LocalizationService.GetString("About.Feature1")</li>
        <li>@LocalizationService.GetString("About.Feature2")</li>
        <li>@LocalizationService.GetString("About.Feature3")</li>
        <li>@LocalizationService.GetString("About.Feature4")</li>
    </ul>
    <p>
        @LocalizationService.GetString("About.Commitment")
    </p>
</section>

@code {
    protected override void OnInitialized()
    {
        LocalizationService.OnLanguageChanged += StateHasChanged;
    }

    public void Dispose()
    {
        LocalizationService.OnLanguageChanged -= StateHasChanged;
    }
}