@page "/privacy"
@layout Web.Layout.InformationLayout
@inject ILocalizationService LocalizationService
@implements IDisposable

<PageTitle>@LocalizationService.GetString("Privacy.PageTitle")</PageTitle>

<section class="info-section">
    <h1>@LocalizationService.GetString("Privacy.Title")</h1>
    <p>
        @LocalizationService.GetString("Privacy.Description")
    </p>
    <ul>
        <li>@LocalizationService.GetString("Privacy.Point1")</li>
        <li>@LocalizationService.GetString("Privacy.Point2")</li>
        <li>@LocalizationService.GetString("Privacy.Point3")</li>
        <li>@LocalizationService.GetString("Privacy.Point4")</li>
    </ul>
    <p>
        @LocalizationService.GetString("Privacy.Contact")
    </p>
</section>

@code {
    protected override void OnInitialized()
    {
        LocalizationService.OnLanguageChanged += StateHasChanged;
    }

    public void Dispose()
    {
        LocalizationService.OnLanguageChanged -= StateHasChanged;
    }
}


